<launch>
  <!-- Launch the wall follower AND safety controller with parameters -->
  <node pkg="wall_follower" name="wall_follower" type="wall_follower.py" output="screen"/>
  <node pkg="wall_follower" name="safety_controller" type="safety_controller.py" output="screen"/>
  <node pkg="wall_follower" name="metrics" type="metrics.py" output="screen"/>
  <rosparam command="load" file="$(find wall_follower)/params.yaml"/>
</launch>
